/* wwwroot/css/fonts.css */
@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/Vazirmatn-Black.ttf') format('Black'), url('/fonts/Vazirmatn-Regular.ttf') format('Regular'), url('/fonts/Vazirmatn-SemiBold.ttf') format('SemiBold');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

